<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<form method="post" action="/music">
    <h4>添加新角色</h4>
    <div class="form-group col-sm-5" >
        <label for="exampleInputEmail1">名字</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
    </div>
    <div class="form-group col-sm-5" >
        <label for="label">角色</label>
        <input type="text" class="form-control" id="label" name="label">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


</body>
</html>